<nav>
    <div class="navbar">
        <a class="navbar-logo" href="https://tastee-47ty.onrender.com">tastee</a>
        {{#if user}}
        <div class="search-bar-nav">
            <form id="search-form">
                <input type="text" id="search-input" placeholder="Search" class="search">
            </form>
            <button class="search-icon-nav" id="search-button"></button>
        </div>
        <div id="userIntro" class="login" onclick="toggleMenu()">Hello, {{user.username}}</div>
        {{else}}
        <a id="userIntro" class="login" href="https://tastee-47ty.onrender.com/sign_in">Sign in</a>
        {{/if}}

        

        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <img src="../static/images/{{user.pfp}}" class="user-pic" id="user-pic-id">
                    <h2 id="user-menu-intro">{{user.username}}</h2>
                </div>
                <hr>

                <a id="user-page-link" href="https://tastee-47ty.onrender.com/user" class="sub-menu-link">
                    <p>Your Page</p>
                    <span>></span>
                </a>

                <a id="user-page-link" class="sub-menu-link" onclick="toggleEditProfile()">
                    <p>Edit profile</p>
                    <span>></span>
                </a>
                <hr>

                <a class="sub-menu-link" href="https://tastee-47ty.onrender.com/logout">
                    <p>Log out</p>
                    <span>></span>
                </a>

            </div>
        </div>

        {{!-- Search bar dropdown list --}}
        <div class="search-bar-list" style="display: none" id="search-bar-list">
        </div>       
    </div>
</nav>


<div class="overlay" style="display: none;" id="overlay"></div>
<div class="edit-profile" style="display: none;" id="edit-profile">
    <div class="exit" onclick="closeEdit()">X</div>
    <div class="edit-image">
        <img src="../static/images/{{user.pfp}}" class="edit-image-circle" id="user-pic-id"></img>
        <button type="submit" class="btn" onclick="editPFP()">Edit profile picture</button>
    </div>
    <div class="edit-right">
        <form>
            <div class="edit-input">
                <label>Bio</label><br>
                <textarea type="text" id="edit-bio" ></textarea>
            </div>
            <div class="btndv">
                <button type="submit" class="btn" onclick="editBio()">Save bio</button>
            </div>
        </form>
    </div>
</div>

{{!-- Edit PFP --}}
<div class="edit-photo" id="edit-pfp" style="display: none;">
    <div class="exit" onclick="closeEditPFP()">X</div>
    <form id="profilePictureForm" enctype="multipart/form-data" class="inputPicture">
        <input type="file" id="profilePictureInput" accept="image/*" class="inputPicture" name="image">
        <button type="submit" class="edit-image-text" onclick="uploadPFP()">Save changes</button>
    </form>
</div>

<link rel="stylesheet" type="text/css" media="all" href="../static/css/index.css">
<script src="../static/js/index_script.js"></script>