<div class="review-item">
     <div class="date-and-edit">  
        <div class="edited-text">
            {{#formatDate date_posted "ddMMyy"}}{{/formatDate}}
        </div>
        {{#if isEdited}}
        <div class="edited-text">| edited</div>
        {{/if}}
        <div class="edited-text-uns" id="review-id-review">{{review_id}}</div>
    </div>
    <div class="res-header">
        <div class="review-restaurant-title"> {{rating_given}}/5 {{title}} </div>
        {{!-- TODO: Show edit button only if user is the same as the one who posted it --}}
        <div class="edit-button" onclick="launchEdit({{review_id}})">edit</div>
    </div>
    
    <div class="review-text">
        {{content}}
    </div>
    <div class="reviewer-accountbar">
        <a class="review-user" href="http://localhost:3000/user/{{user.username}}">
            <img class="reviewer-icon" src="../static/images/{{user.pfp}}">
            <div class="reviewer-user">{{user.username}}</div>
        </a>
        <div class="vote-container">
            <div class="vote-amount-text">{{upvote_count}}</div>
            <div class="upvote" onclick="toggleUpvote(this, {{review_id}})"></div>
            <div class="vote-amount-text">{{downvote_count}}</div>
            <div class="downvote" onclick="toggleDownvote(this, {{review_id}})"></div>
        </div>

    </div>

    <!-- comments section -->
    <!-- comment 1 -->
    {{#each comments}}
    <div class="comments">
        <div class="user-comment">
            <a class="review-user" href="http://localhost:3000/user/{{this.username}}">
                <img class="reviewer-icon" src="../static/images/{{this.pfp}}">
                <div class="reviewer-user">{{this.username}}</div>
            </a>

            <div class="user-comment-text">
                {{this.content}}
            </div>
        </div>
    </div>
    {{/each}}

    <!-- Add a comment -->
    <div class="comments">
        <form id ="commentForm" class="comment-button-container">
            <textarea class="add-comment" id="add-comment-{{review_id}}" placeholder="Write a comment."></textarea>
            <div class="comment-button-button-container" id="comment-button-button-container">
                <div class="review-error" id="comment-error"></div>
                <input type="submit" class="comment-box-button" id="comment-submit" onclick="addComment({{review_id}})"></input>
            </div>
        </form>
    </div>

</div>

{{!-- TODO: Find a way for the placeholders of the form to have the corresponding information of the review --}}
<div class="overlay" style="display: none;" id="overlay"></div>
<div class="edit-container" style="display: none;" id="edit">
    <div class="header">
        <div class="exit" onclick="closeEdit()">X</div>
        <div style="display:flex">
            <div class="edit-review-id" id="edit-review-id"></div>
            <button type="submit" class="delete-box-button" onclick="deletePost()">Delete post</button>
        </div>
    </div>
    <form class="review-box-content"  id="editReview">
        <div class="review-box-title-div">
            <textarea class="review-box-title" placeholder="Add a title" id="edit-review-title"></textarea>
            <div class="star-group" id="edit-star-rating">
                <input type="radio" class="star" id="review-one" name="edit-star_rating">
                <input type="radio" class="star" id="review-two" name="edit-star_rating">
                <input type="radio" class="star" id="review-three" name="edit-star_rating">
                <input type="radio" class="star" id="review-four" name="edit-star_rating">
                <input type="radio" class="star" id="review-five" name="edit-star_rating">
            </div>
        </div>
        <textarea class="review-box-review" placeholder="Write a review" id="edit-review-review"></textarea>
        <div class="review-button-container">
            <div class="review-error" id="edit-review-error"></div>
            <input id="edit-submit-button" type="submit" class="review-box-button" value="Edit" onclick="submitEdit()">
        </div>
    </form>



</div>