<div class="post">
    <div class="post-header">
        <div class="post-header-posted-on">Replied to</div>
        <a class="post-header-restaurant" href="http://localhost:3000/user/{{username_replied}}">{{username_replied}}</a>
        <div class="post-header-posted-on">in</div>
        <a class="post-header-restaurant" href="http://localhost:3000/restaurant/{{restaurant_id}}">{{restaurant_name}}</a>
    </div>
    <div class="post-body">
        {{content}}
    </div>
</div>